/* Estilos generales */
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.container{
    margin: 0 auto;
    padding: 20px;
}
/* Estilos para la barra de navegación */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #088abd;
    color: #fff;
    padding: 10px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; /* Alinea los elementos a la derecha */
}
nav ul li{
    display: inline;
    margin-left: 20px;  /* Ajusta el margen izquierdo para todos los elementos, incluido el ultimo */
}
nav ul li:last-child a {
    margin-right: 40px; /* Aplica margen derecho solo al enlace del ultimo elemento */
}
nav ul li.left{
    float: left; /* Alinea este elemento a la izquierda */
    margin-left: 0; /* Elimina el margen izquierdo para el primer elemento */
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-top: 100px; /* Ajusta el padding superior para dejar espacio para la barra de navegacion */
}
section{
    border: 1px solid #0867cc;
    padding: 20px;
}
/* Estilos especificos para las secciones */
#about{
    grid-column: span 2;
    background-color: #0a9dd7;
    border: 1px;
}
#contact{
    background-color: #0a9dd7;
    border: 1px;
}
#services{
    background-color: #0a9dd7;
    border: 1px;
}
#projects{
    background-color: #0a9dd7;
    border: 1px;
}
#education{
    background-color: #0a9dd7;
    border: 1px;
}
#skills{
    background-color: #0a9dd7;
    border: 1px;
}
#experience{
    background-color: #0a9dd7;
    border: 1px;
}
.about-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.about-text{
    grid-column: 1;
    text-align: justify;
}
.about-image{
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-image img{
    width: 300px;
    height: 250px;


}
.certification{
    background-color: #ffffff;
    padding: 5px;
    
}
.project-image img{
    height: 300px;
    width: 250px;

}
.cert-img2 img{
    height: 70px;
    width: 60px;
    justify-content: center;
    align-items: center;
    
}
.cert-img2{
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}